.header {
  padding: 0 16px;
  background: transparent; /* biar ikut theme */
}

.content {
  margin: 16px;
}

.content-inner {
  padding: 16px;
  min-height: calc(100vh - 100px); /* biar isi konten penuh */
  background: transparent; /* biar ikut theme */
}
